<p><h1>Testanto</h1><b>python code</b> em celulas do <b>jupyter</b></p>

In [2]:
x = "Test";
print (x);

Test

In [13]:
x = 1 + 1;
print (x);

2

In [10]:
b = 95.36;
a = 95.00;
b == a

False

In [14]:
5 / 3

1.6666666666666667

Divisao usando // arredonda pra baixo

In [16]:
5 // 3

1

Mod

In [17]:
5%2

1

Exponenciação

In [18]:
2 ** 3

8

Variaveis

In [20]:
a = 1;
a

1

In [23]:
b = 'Testando';
b[0]

'T'

In [26]:
a = 10;
b = 5; 
print(a%b);

0

In [28]:
a = 1;
b =10;
a , b

(1, 10)

Swapping

In [29]:
a = 1; b = 10;
c = a;
a = b;
b = c;
a , b

(10, 1)

In [1]:
atlanta_string = "Atlanta";
print(type(atlanta_string));

<class 'str'>

In [7]:
cities = [] ;
crime_rates = [];

# Inserindo na lista
cities.append("Albuquerque");
cities.append("Anaheim");
cities.append("Anchorage");
cities.append("Arlington");
cities.append("Atlanta");

crime_rates = [749 , 371 ,828,503,1379];

print (cities);
print (crime_rates);

# Acessando valor da lista
anchorage_str = cities[2];
anchorage_cr = crime_rates[2];
print(anchorage_str);
print(anchorage_cr);

#tamanho da lista
print( len(cities));

# Intervalos de listas
cities_slice = cities[1:4];
cr_slice = crime_rates[3:len(crime_rates)];

['Albuquerque', 'Anaheim', 'Anchorage', 'Arlington', 'Atlanta']
[749, 371, 828, 503, 1379]
Anchorage
828
5

In [8]:
# We can split a string into a list.
sample = "john,plastic,joe"
split_list = sample.split(",")
print(split_list)

# Here's another example.
string_two = "How much wood\ncan a woodchuck chuck\nif a woodchuck\ncould chuck wood?"
split_string_two = string_two.split('\n')
print(split_string_two)

['john', 'plastic', 'joe']
['How much wood', 'can a woodchuck chuck', 'if a woodchuck', 'could chuck wood?']

In [11]:
# Exemplo, open() acessa arquivo , "r" -> leitura
# f = open("crime_rates.csv", "r");
# data = f.read(); read() -> retorna valores do arquivo
# rows = data.split("\n");  #split()-> transforma strings em lista de strings separadas por um delimitador ex: (",")
# print(rows[0:5]);

In [21]:
rows = ['1','2','3','4','5','6','7','8','9','10'];
ten_rows = rows[0:len(rows)]; 
for teste in ten_rows:
    print(teste);

1
2
3
4
5
6
7
8
9
10

In [22]:
int_five = int("5") # converte string para int 
print(int_five);

5

In [23]:
cat = True;
dog = False;
print(type(cat))

<class 'bool'>

In [28]:
teste = ["teste","test"]
print(teste[0])

teste

In [ ]:
# Manipulando dados de um csv
# usando linhas-horizontal
# abrir o arquivo / data_string armezena os dados como uma string / rows -> recebe uma lista com cada (elemento)linha separada por \n
# e usamos o for para criar uma nova lista que contem listas como elementos e cada elemento contem os valores de cada linha do csv

#arquivo = open("la_weather.csv","r");
#data_string = arquivo.read();
#rows = data_string.split('\n');
#weather_data = [];
#for row in rows:
#    weather_data.append(row.split(','));
    
#print(weather_data);

In [33]:
# If/else
planet_names = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Neptune", "Uranus"]
short_names = []
long_names = []

for elem in planet_names:
    if len(elem) > 5:
        long_names.append(elem)
    else:
        short_names.append(elem)

animals = ["cat", "dog", "rabbit"]
for animal in animals:
    if animal == "cat":
        print("Cat found")
#Usando in 
animals = ["cat", "dog", "rabbit"]
if "cat" in animals:
    print("Cat found")
# ou
animals = ["cat", "dog", "rabbit"]
cat_found = "cat" in animals
print(cat_found)

Cat found
Cat found
True

Dicionarios

In [39]:
superhero_ranks = {}
superhero_ranks["Aquaman"] = 1
superhero_ranks["Superman"] = 2
print(superhero_ranks)
print(superhero_ranks["Superman"])
print(superhero_ranks["Aquaman"])

# Atribuindo valor do dicionario a variaveis
president_ranks = {}
president_ranks["FDR"] = 1
president_ranks["Lincoln"] = 2
president_ranks["Aquaman"] = 3

fdr_rank = president_ranks["FDR"]
lincoln_rank = president_ranks["Lincoln"]
aquaman_rank = president_ranks["Aquaman"]

#Outra do forma de definir dicionarios | chave: valor|

animals = {
    7: "raven",
    8: "goose",
    9: "duck"
}

times = {
    'morning':  9,
    'afternoon':    14,
    'evening':  19,
    'night':    23
}

# Usando in para verificar chaves 
planet_numbers = {"mercury": 1, "venus": 2, "earth": 3, "mars": 4}

jupiter_found = "jupiter" in planet_numbers;

earth_found = "earth" in planet_numbers;

{'Aquaman': 1, 'Superman': 2}
2
1